  body {
    font-size: 20px;
    padding-top: 0;
    background: #fff;
    height: 100%;
  }

  .header {
    background-image: url('header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px 20px;
    text-align: center;
  }

  .card {
    background: #fff;
    display: inline-block;
    margin-top: 20px;
    padding: 0 20px 15px;
  }

  .card p {
      font-size: 0.9em;
      margin-bottom: 10px;
  }
  
  .logo-sii {
    height: 100px;
  }
  
  .logo-4developers {
    height: 120px;
  }

  .logo-nodeschool {
    width: 250px;
    height: 250px;
  }

  .support {
    align-items: center;
    background: #eee;
    color: #888;
    display: flex;
    font-size: .8em;
    justify-content: center;
    margin-bottom: 60px;
    padding: 20px 20px;
  }

  .support img {
    margin-left: 40px;
  }

  hr.small {
    border-top-color: #888;
    max-width: 100px;
    margin: 60px auto;
  }

  p {
    line-height: 1.7;
    margin-bottom: 20px;
  }

  h1 {
    margin: 0 auto 20px;
  }

  li {
      margin-bottom: 10px;
  }

  .gallery {
    margin-top: 30px;
  }

  .gallery img {
    width: 100%;
  }

  .social {
    align-items: center;
    background: #eee;
    color: #888;
    display: flex;
    font-size: 4em;
    justify-content: center;
    margin-top: 60px;
    padding: 40px 20px;
  }

  .social a+a {
      margin-left: 60px;
  }

  .footer {
    color: #aaa;
    font-size: 0.8em;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
  }

  @media screen and (max-width: 992px) {
    .card {
      margin-top: 0;
    }

    .support {
      display: block;
    }

    .support span {
      clear: both;
      display: block;
      text-align: center;
      width: 100%;
    }

    .support img {
      clear: both;
      display: block;
      margin: 40px auto 0 auto;
    }
  }